.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.brand-logo {
  font-size: 24px;
  color: var(--primary);
  font-weight: 700;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  padding-left: 25px;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  z-index: 1;
}

.search-bar button {
  padding: 0px;
  background-color: transparent;
  color: var(--primary);
  border: none;
  cursor: pointer;
  position: absolute;
  left: 7px;
  top: 28%;
  font-size: 1rem;
  z-index: 2;
}

.suggestion-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion-box li {
  padding: 8px;
  cursor: pointer;
}

.suggestion-box li:hover {
  background-color: #f0f0f0;
}

.login-button button {
  padding: 8px 16px;
  border: 1px solid var(--primary);
  color: var(--primary);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.cart-div {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 30px;
}

.cart-div span {
  margin-right: 5px;
  font-size: 11px;
  position: absolute;
  top: -2px;
  left: 16px;
  background: var(--primary);
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-div .fa-shopping-cart {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}
